$menuwidth: 20em;

.GBEditor {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: sans-serif;

	position: relative;

	svg {
		width: 100%;
		height: 100%;

		path {
			stroke: black;
			fill: none;
			stroke-width: 4px;
			stroke-linecap: round;
			&:hover {
				stroke: #00549F;
				stroke-width: 6px;
			}
		}
	}

	input[type="button"] {
		border: 2px outset #9C9E9F;
		border-radius: 4px;
		margin: 1px 1px;
		background-color: #CFD1D2;

		&:hover {
			background-color: darken(#CFD1D2, 10);
		}
	}

	.GBNode {
		opacity: 0.9;
		text {
			font-family: monospace, sans-serif;
			font-size: 16px;
			fill: white;
			pointer-events: none;
		}
		rect {
			fill: #407FB7;
			stroke: black;
			stroke-width: 2px;
		}

		&:hover rect {
			stroke-width: 3px;
		}
		line {
			stroke: black;
			stroke-width: 2px;
		}
		circle {
			stroke: black;
			stroke-width: 1px;
		}
		circle:hover {
			stroke-width: 2px;
		}
	}

	.GBMenubar {
		div {
			overflow: hidden;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			border-left: 4px solid lightblue;

			li {
				width: $menuwidth;
			}
			li a {
				line-break: strict;
				word-break: break-all;
				cursor: pointer;
				display: block;
				text-decoration: none;
				font-size: large;
				padding: 8px 16px;
				color: white;
				user-select: none;
			}

			li a:hover {
				background-color: #407FB7;
			}

			.hidden {
				display: none;
			}
		}
	}

	.GBSidebar {
		position: absolute;
		height: 100%;
		width: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: width 200ms ease-in-out;
		background-color: transparentize(#407FB7, 0.2);
	}

	.right {
		right: 0;
	}
	.left {
		left: 0;
	}
	.open {
		width: $menuwidth;
	}

	.GBAttributeEditor {
		background-color: white;
		width: 16em;
		padding: 10px 10px 10px 10px;
		border: 2px solid black;
		border-radius: 4px;
		margin: 4px auto;

		div {
			overflow: hidden;
			width: 100%;

			label {
				margin-right: 0.5em;
				vertical-align: top;
				display: inline-block;
				overflow: hidden;
				overflow-wrap: break-word;
			}

			input {
				&[type="text"],
				&[type="number"] {
					width: 78%;
				}

				&[type="text"]:invalid {
					background-color: #CD8B87;
					outline: none;
				}

				&[readonly="true"] {
					background-color:  #CFD1D2;
				}
				&[type="file"]{
					display: none;
				}
			}

			button {
				padding: 0.2rem 0.4rem;
				border: 2px outset #9C9E9F;
				border-radius: 4px;
				background: #CFD1D2;
			}

			textarea {
				width: 85%;
				resize: vertical;
			}
		}
	}
}
