$controlbar-height: 60px;
$content-padding-v: 24px;
$content-padding-h: 4px;

.GBPlayer {
  position: relative;
  font-size: 24px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .GBControlBar {
    position: absolute;
    left: 0;
    right: 0;
    height: $controlbar-height;
    bottom: 0;

    input[type="button"], button {
      border: none;
      font-size: 46px;
      width: 20%;
      height: 100%;
      float: left;
      margin: 0;
      display: block;
      cursor: pointer;

      &:active {
        background-color: gray;
      }

      &:hover,
      &:focus {
        background-color: darkgray;
      }
    }
  }

  .GBRoom{
    white-space: pre-wrap;
  }

  .GBPageContainer {
    font-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: $controlbar-height;
    overflow-y: auto;

    div {
      font-size: inherit;

      div {
        font-size: inherit;
        padding: $content-padding-v $content-padding-h;

        figure.gb-video-figure {
          //display: flex;
          max-width: 100%;
          //width: 100%;
          //height: 100%;
          display: flex;
          flex-direction: column;
          width: fit-content;

          &.center {
            margin: auto;
          }

          &.inline {
            //display: inline;
          }

          &.stretch {
            width: 100%;
          }

          video {
            flex: 1;
            max-height: calc(100% - 2rem);
          }

          .gb-video-controls {
            width: 100%;
            align-self: center;
            //width: fit-content;
            //height: 9%;
            position: relative;
            margin: 0;
            min-height: 2rem;

            display: flex;

            > li {
              float: left;
              height: 100%;
              display: inline-block;
              margin-left: 0.1rem;

              &:first-child {
                margin-left: 0;
              }

              button {
                //width: 2rem;
                height: 2rem;
                margin: 0
              }

              .gb-video-control-progress {
                height: 2rem;
                width: 100%;
              }

              .gb-video-control-volume {
                outline: 0;
                height: 2rem;
                width: 2.5rem;

                .gb-video-control-volume-slider {
                  display: none;
                  transform: rotate(270deg) translate(85%, -150%);
                  position: relative;
                  height: 2rem;

                  &:hover {
                    display: initial;
                  }
                }

                &:hover {
                  .gb-video-control-volume-slider {
                    display: initial;
                  }
                }
              }

              select {
                width: initial;
                height: 2rem;
                margin: 0;
              }
            }
          }
        }

        img,
        audio,
        video {
          display: block;
          max-width: 100%;

          &.center {
            margin: auto;
          }

          &.inline {
            display: inline;
          }

          &.stretch {
            width: 100%;
          }
        }

        input[type="button"], button {
          font-size: inherit;
          display: block;
          white-space: normal;
          width: 100%;
          border: 2px solid black;
          border-radius: 4px;
          padding: 4px 8px;
          margin: 10px 0px;
          background-color: white;
          cursor: pointer;

          &:hover,
          &:focus {
            background-color: darkgray;
          }

          &:active {
            background-color: gray;
          }
        }

        label {
          display: block;
        }
      }
    }
  }

  .GBMenuContainer {
    width: 100%;
    height: 100%;
  }

  .GBMenu {
    width: 100%;
    height: 100%;
    font-size: inherit;
    overflow-y: auto;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;

      div > div {
        margin: 0 auto;
        width: 90%;
      }

      li {
        width: 100%;
      }

      li a {
        line-break: strict;
        word-break: break-all;
        display: block;
        border: 2px solid black;
        margin-top: -2px;
        cursor: pointer;
        text-align: center;
        padding: 6px 10px;
        user-select: none;

        &:active {
          background-color: gray;
        }

        &:hover,
        &:focus {
          background-color: darkgray;
        }
      }
    }

    .hidden {
      display: none;
    }
  }
}
